html5/nbproject/private/
flash/StarWarsHeroes/bin/StarWarsHeroes.swf
flash/SWHAssetsAtlases/bin/SWHAssetsAtlases.swf
flash/SWHAssetsData/bin/SWHAssetsData.swf
flash/SWHAssetsTextures/bin/SWHAssetsTextures.swf
flash/SWHPreloader/bin/SWHPreloader.swf
