html5/nbproject/private/
starling/StarWarsHeroes/bin/StarWarsHeroes.swf
flash/StarWarsHeroes/bin/StarWarsHeroes.swf
flash/SWHAssetsAtlases/bin/SWHAssetsAtlases.swf
flash/SWHAssetsData/bin/SWHAssetsData.swf
flash/SWHAssetsTextures/bin/SWHAssetsTextures.swf
flash/SWHMusicPart1/bin/SWHMusicPart1.swf
flash/SWHMusicPart2/bin/SWHMusicPart2.swf
flash/SWHPreloader/bin/SWHPreloader.swf
flash/SWHSounds/bin/SWHSounds.swf